---
import { GlitchText } from './GlitchText';
import MemojiLoop from './MemojiLoop.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<nav class="flex flex-col items-center justify-between md:flex-row">
	<MemojiLoop />
	<div
		class="mt-10 flex w-full flex-col sm:justify-between md:mt-0 md:flex-row md:justify-around"
	>
		<div
			class="order-2 mt-10 flex flex-col justify-evenly space-y-5 md:order-1 md:mt-0 md:flex-row md:space-y-0 lg:ml-auto"
		>
			<div class="w-[200px] md:w-[150px] lg:w-[200px]">
				<p class="font-bold tracking-tight">member</p>
				<a href="https://astranoto.com/">
					<GlitchText
						client:idle
						className="cursor-pointer tracking-tighter"
						text="@astranoto"
					/>
				</a>
			</div>
			<div class="w-auto lg:w-[200px]">
				<p class="font-bold tracking-tight">student</p>
				<GlitchText
					client:idle
					className="cursor-pointer tracking-tighter"
					text="@unibo"
				/>
			</div>
		</div>
		<div class="order-1 flex justify-between md:order-3 md:justify-evenly">
			<div class="w-auto md:w-[180px] lg:w-max">
				<p class="font-bold tracking-tight">Luca Corsetti</p>
				<a href="https://corsi.unibo.it/1cycle/ComputerEngineering">
					<GlitchText
						client:idle
						className="cursor-pointer tracking-tighter"
						text="BSc in computer engineering @unibo"
					/>
				</a>
			</div>
		</div>
	</div>
</nav>
